/*Wheel CSS*/
.panel-container div {
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	border: 2px solid black;
	-moz-transition: moz-transform 1s;
}
.wheel {
	width: 210px;
  	height: 140px;
  	position: relative;
  	perspective: 1000px;
}
.panel-container {
	width: 100%;
  	height: 100%;
  	position: absolute;
  	transform-style: preserve-3d;
  	-moz-transition: moz-transform 1s;
}