/*Wheel CSS*/
.panel {
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	border: 2px solid black;
	line-height: 116px;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}
.panel-left{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 50%;
}
.panel-right{
	position: absolute;
	top: 0px;
	left: 50%;
	height: 100%;
	width: 50%;
}
.panel-bottom{
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
}
.panel-top{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0px;
}
.wheel {
	width: 210px;
	height: 140px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #CCC;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	-o-perspective: 1100px;
	perspective: 1100px;
}
.panel-container {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform: translateZ( -288px );
	-moz-transform: translateZ( -288px );
	-o-transform: translateZ( -288px );
	transform: translateZ( -288px );
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}